<h2>User info</h2>
<table class="table">
	<tr class="contents">
		<th>
			<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
		</th>
		<th></th>
	</tr>
	<tr class="contents">
		<th>name</th>
		<th>
			<%= @user.name %>
		</th>
	</tr>
	<tr class="contents">
		<th>introduction</th>
		<th>
			<%= @user.introduction %>
		</th>
	</tr>
</table>
<div>
	<%= link_to '', edit_user_path(current_user.id), class:"glyphicon glyphicon-wrench , btn btn-default", :style=>"width:100%;" %>
</div>