<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<div>
				<%= render file: "app/views/users/_info.html.erb" %>
			</div>
			<div>
				<%= render 'books/post' %>
			</div>
		</div>
		<div class="col-xs-9">
			<%= render 'books/list' %>
		</div>
	</div>
</div>